@media (max-width: 768px) {
  #extendedMenu span a {
    padding: 4px 8px;
  }
  header {
    align-items: center;
    width: 100%;
    padding: 0;
    transition: all 0.5s ease;
  }
  .logo {
    display: none;
  }
  .menu-2 {
    display: flex;
    margin: 0;
    width: 98vw;
    margin: 0 1vw;
    padding: 5px 0 0 0;
    overflow-x: auto;
    font-weight: 900;
    &::-webkit-scrollbar {
      display: none;
    }
    position: relative;
    /* Для Safari */
    -webkit-mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 5%,
      black 95%,
      transparent 100%
    );
    /* Стандарт */
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 5%,
      black 95%,
      transparent 100%
    );
  }
  .nav-a {
    font-weight: 800;
    font-size: 19px;
    margin: 0 5px;
  }
  .starters {
    margin: 0 5px;
    margin-left: 10px;
  }
  .contacts {
    font-weight: 800;
    font-size: 19px;
    margin: 0 3px;
    margin-right: 10px;
  }
  header button {
    display: flex;
    position: absolute;
    right: 0;
    top: 65px;
    margin: 0;
    margin-top: 10px;
    padding: 5px;
    padding-right: 10px;
    background-color: #3333337b;
    border-radius: 10px 0 0 10px;
    border: 1px solid #333;
  }
  header button svg {
    width: 26px;
    height: 26px;
  }
  nav {
    padding: 0;
    margin: 0;
  }
  #extendedMenu {
    padding: 0;
    margin: 0;
    justify-content: center;
    width: 100vw;
  }
  #extendedMenu span a {
    font-size: 17px;
    font-weight: 500;
    margin: 0 5px;
  }
  .header-hidden {
    transform: translateY(-100%); /* выталкивает панель вверх за экран */
  }
}
